**RACHABATTUNI SAI SHANKAR**

**JSON Based Inventory management Assignment**

**Read Data from JSON**

In [40]:
import json

In [41]:
fd = open("record.json",'r')
r = fd.read()
fd.close()

In [42]:
record = json.loads(r)

In [43]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10}}

**Adding New Item into Inventory**

In [44]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))

record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1010
Enter name:Ice Cream
Enter price:300
Enter quantity:5

In [45]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Ice Cream', 'pr': 300, 'qn': 5}}

In [46]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))

record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1011
Enter name:Biscuits
Enter price:500
Enter quantity:4

In [47]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Ice Cream', 'pr': 300, 'qn': 5},
 '1011': {'name': 'Biscuits', 'pr': 500, 'qn': 4}}

In [48]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))

record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1012
Enter name:Charger
Enter price:250
Enter quantity:1

In [49]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Ice Cream', 'pr': 300, 'qn': 5},
 '1011': {'name': 'Biscuits', 'pr': 500, 'qn': 4},
 '1012': {'name': 'Charger', 'pr': 250, 'qn': 1}}