**RACHABATTUNI SAI SHANKAR**

**Purchasing Products**

**Read Inventory**

In [58]:
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [59]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Ice Cream', 'pr': 300, 'qn': 5},
 '1011': {'name': 'Biscuits', 'pr': 500, 'qn': 4},
 '1012': {'name': 'Charger', 'pr': 250, 'qn': 1}}

**Purchase Items**

In [60]:
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))


print("Product: ", records[ui_prod]['name'])
print("Price: ", records[ui_prod]['pr'])
print("Billing Amount: ", records[ui_prod]['pr'] * ui_quant)

records[ui_prod]['qn'] = records[ui_prod]['qn'] - ui_quant

Enter the product_Id: 1011
Enter the quantity: 4
Product:  Biscuits
Price:  500
Billing Amount:  2000

**Update Inventory after purchasing Items**

In [61]:
js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()

**Sales JSON**

In [62]:
{'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}

{'amount': 2000, 'prod': '1011', 'qn': 4}

In [63]:
sales = {1 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         2 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         3 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}}

In [64]:
{ (len(sales) + 1) : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}}

{4: {'amount': 2000, 'prod': '1011', 'qn': 4}}

In [65]:
sales[(len(sales) + 1)] : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}

In [66]:
sales

{1: {'amount': 2000, 'prod': '1011', 'qn': 4},
 2: {'amount': 2000, 'prod': '1011', 'qn': 4},
 3: {'amount': 2000, 'prod': '1011', 'qn': 4}}

In [67]:
json.dumps(sales)

'{"1": {"prod": "1011", "qn": 4, "amount": 2000}, "2": {"prod": "1011", "qn": 4, "amount": 2000}, "3": {"prod": "1011", "qn": 4, "amount": 2000}}'

In [68]:
fd = open("record.json", "r")
r = fd.read()
fd.close()